@charset "UTF-8";
/* CSS Document */


body{color:blanchedalmond;
	background-color:#1C16C0;
	font-size: 50;
	margin-left:40px;
}


h1{color: blanchedalmond;
font-size: 28px;
	font-family:adamina, Arial, serif;
	}

note{
	float:inherit right; 
	margin: 30px;
	padding:10px;
	border-radius: 25px;

}




.figure{
background-color: black;
font-size: 29px;}


 

.note{
	float:inherit right; 
	margin: 30px;
	padding:15px;
	border-radius: 30px;
}


.html{
	color: blanchedalmond;
}

.nav-list{
	border-top:thin;
	border-bottom:thin;
	background-color: black;
}

.nav-list-item a{
	font-size: 35;
	font-family: adamina;
	line-height:2.4em;
	text-align: center;
	margin:auto;
}
h3{
	font-size: 40;
	border-top:thin;
	border-bottom:thin;
}



i{
font-size: 30px;}

p{ 
font-size: 24px;
color: blanchedalmond;
font-family: sans-seriff;
}

a:link, a:visited {
color: darkgrey;
text-decoration: underline;	
}
#nav { text-align:center; }
